body, html {
    font-family: 'Roboto', sans-serif;
    background-color: #bdbdbd;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: rgb(233, 233, 233);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 15px;
    text-align: left;
}

table th, table td {
    padding: 12px;
    border: 1px solid #ddd;
}

table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

.header {
    background-color: rgb(91, 133, 223);
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.header h1 {
    margin: 0;
    text-decoration:none;
    font-weight: 900;
}

.navbar {
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(16, 70, 185);
}

.content {
    padding: 20px;
    text-align: left;
}

.hidden {
    display: none;
}

.searching {
    text-align: center;
    align-items: center;
    margin: 20px 0;
}

.buttonClass {
    font-size:15px;
    font-family:Arial;
    width:140px;
    height:50px;
    border-width:1px;
    color:#ffffff;
    border-color:#124d77;
    border-top-left-radius:3px;
    border-top-right-radius:3px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    text-shadow:inset 0px 1px 0px #154682;
    background:linear-gradient(#007dc1, #0061a7);
  }
  
  .buttonClass:hover {
    background: linear-gradient(#0061a7, #007dc1);
  }
  
  .footer {
    background-color: rgb(91, 133, 223);
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }

    form input[type="text"] {
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 20px;
        text-transform: uppercase;
    }

    form input[type="submit"] {
        padding: 0;
        margin: auto;
    }